.App {
  text-align: center;
}

.auth{
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;

}

.auth input{
  height: 3vh;
}
.footer{
  margin-top: 15px;
  display: flex;
  justify-content: flex-start;
}

/* PROGRESS BAR */
.progressbar {
  width: 400px;
  height: 10px;
  background-color: white;
  margin-bottom: 50px;
  
}
.progressbar div {
  width: 33.3%;
  height: 100%;
  background-color: rgb(255, 106, 0);
}
